[submodule "nerdtree"]
    path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pyflakes-vim"]
    path = vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "pytest"]
    path = vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim
[submodule "rope-vim"]
    path = vim/bundle/rope-vim
	url = https://github.com/klen/rope-vim.git
[submodule "snipmate-snippets"]
    path = vim/bundle/snipmate-snippets
	url = https://github.com/agonzalezro/snipmate-snippets
[submodule "supertab"]
    path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "tlib_vim"]
    path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
    path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-flake8"]
    path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim-snipmate"]
    path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
